<div class="comments-warp"><h3 class="comments-header alert alert-info"><i class="icon-comments"></i><span> 3 条评论</span>
</h3>
    <ol class="comments-list">
        <li id="comment-5648d4b56ba60a496f7af42b" class="comment">
            <article class="comment-body">
                <div class="comment-meta">
                    <div class="comment-author"><b class="nickname">李小贝</b><span class="says">说道:</span></div>
                    <div class="comment-data">
                        <time>Nov 16, 2015 2:53 AM</time>
                    </div>
                </div>
                <div class="comment-content"><pre>小乐同学触犯不及时回复QQ消息一条，0.5倍处罚。
小贝同学触犯手机关机，说分手，0.5+1——共计1.5倍处罚。</pre>
                </div>
                <div class="comment-reply"><a href="#comment" data-author-nickname="李小贝"
                                              data-author="55d989d76d6b2b32c53a3577"
                                              data-comment-id="5648d4b56ba60a496f7af42b"
                                              class="comment-reply-link">回复</a></div>
            </article>
            <ol class="child"></ol>
        </li>
        <li id="comment-56499da46ba60a496f7af430" class="comment">
            <article class="comment-body">
                <div class="comment-meta">
                    <div class="comment-author"><b class="nickname">张小乐</b><span class="says">说道:</span></div>
                    <div class="comment-data">
                        <time>Nov 16, 2015 5:11 PM</time>
                    </div>
                </div>
                <div class="comment-content"><pre>看这篇，很感动。我们这个剧情也确实太丰富了，估计我们的恋爱史都可以拍几部电影了。
亲爱的，事情过了，我想分析下这件事
感性角度
  经历这些事，某种意义上也算是对我们感情的考验。至少到现在为止的考验我们都是通过的。
  我母亲曾经跟我说，两个人在一起是十分不容易的。当时我不以为然，现在自己经历了才知道。
  希望我们都能好好珍惜这份来之不易的感情
理性角度
  想起了一首歌唱的“相爱没有那么容易,每个人都有他的脾气”，
  其实我们俩的脾气太像了，可能我还更倔，更不愿意低头。
  希望我们共勉：恋爱婚姻中的低头并不丢脸，反而先低头那方更伟大
  </pre>
                </div>
                <div class="comment-reply"><a href="#comment" data-author-nickname="张小乐"
                                              data-author="55d989d16d6b2b32c53a3576"
                                              data-comment-id="56499da46ba60a496f7af430"
                                              class="comment-reply-link">回复</a></div>
            </article>
            <ol class="child">
                <li id="comment-5649f8f46ba60a496f7af432" class="comment">
                    <article class="comment-body">
                        <div class="comment-meta">
                            <div class="comment-author"><b class="nickname">李小贝</b><span class="says">说道:</span></div>
                            <div class="comment-data">
                                <time>Nov 16, 2015 11:40 PM</time>
                            </div>
                        </div>
                        <div class="comment-content"><pre>回复 张小乐 :
我也觉得，我们俩在一起之后估计还会有很多次像这样的拌嘴和磨合，不过每次我都会认真的反思，不断改进自己，做一个理想的女朋友。吵归吵，过完嘴皮子瘾我们还是恩爱的小两口儿，爱你。</pre>
                        </div>
                        <div class="comment-reply"><a href="#comment" data-author-nickname="李小贝"
                                                      data-author="55d989d76d6b2b32c53a3577"
                                                      data-comment-id="56499da46ba60a496f7af430"
                                                      class="comment-reply-link">回复</a></div>
                    </article>
                </li>
                <li id="comment-5649fc896ba60a496f7af434" class="comment">
                    <article class="comment-body">
                        <div class="comment-meta">
                            <div class="comment-author"><b class="nickname">李小贝</b><span class="says">说道:</span></div>
                            <div class="comment-data">
                                <time>Nov 16, 2015 11:55 PM</time>
                            </div>
                        </div>
                        <div class="comment-content"><pre>回复 张小乐 :
亲爱的，其实我内心一直非常感动，工作上你一直都是那么强势，但是感情中你却不断地包容我。其实我知道脾气坏的时候会特别糟，但我一直以为只是小时候。后来想想，我这臭脾气却常常发给自己最爱的人——我的爸爸妈妈弟弟妹妹，同学朋友几乎没有过。长大之后不经常回家，所以每次都提醒自己尽量要温和一点儿。现在遇到了你，慢慢地就又像回到了小时候，在至亲面前变得总是很随意，可以亲的如胶似漆，也可以吵的不可开交，其实我还是挺担心我的臭脾气、大嗓门会把你吓跑，我会慢慢改进自己，把这些不好的慢慢都改掉。</pre>
                        </div>
                        <div class="comment-reply"><a href="#comment" data-author-nickname="李小贝"
                                                      data-author="55d989d76d6b2b32c53a3577"
                                                      data-comment-id="56499da46ba60a496f7af430"
                                                      class="comment-reply-link">回复</a></div>
                    </article>
                </li>
            </ol>
        </li>
        <li id="comment-56499b2b6ba60a496f7af42f" class="comment">
            <article class="comment-body">
                <div class="comment-meta">
                    <div class="comment-author"><b class="nickname">张小乐</b><span class="says">说道:</span></div>
                    <div class="comment-data">
                        <time>Nov 16, 2015 5:27 PM</time>
                    </div>
                </div>
                <div class="comment-content">
                    <pre>说点题外话，看到你把这么多的聊天记录都截图并排列好，吓了我一跳，这要花不少精力吧？还有这个网站图片没有压缩，这张图片放在首页，你手机刷新下光一张图片几兆流量就没了。。。。</pre>
                </div>
                <div class="comment-reply"><a href="#comment" data-author-nickname="张小乐"
                                              data-author="55d989d16d6b2b32c53a3576"
                                              data-comment-id="56499b2b6ba60a496f7af42f"
                                              class="comment-reply-link">回复</a></div>
            </article>
            <ol class="child">
                <li id="comment-5649f7c06ba60a496f7af431" class="comment">
                    <article class="comment-body">
                        <div class="comment-meta">
                            <div class="comment-author"><b class="nickname">李小贝</b><span class="says">说道:</span></div>
                            <div class="comment-data">
                                <time>Nov 16, 2015 11:35 PM</time>
                            </div>
                        </div>
                        <div class="comment-content"><pre>回复 张小乐 :
所以我就不用手机刷本网站了~~</pre>
                        </div>
                        <div class="comment-reply"><a href="#comment" data-author-nickname="李小贝"
                                                      data-author="55d989d76d6b2b32c53a3577"
                                                      data-comment-id="56499b2b6ba60a496f7af42f"
                                                      class="comment-reply-link">回复</a></div>
                    </article>
                </li>
                <li id="comment-5649fa946ba60a496f7af433" class="comment">
                    <article class="comment-body">
                        <div class="comment-meta">
                            <div class="comment-author"><b class="nickname">张小乐</b><span class="says">说道:</span></div>
                            <div class="comment-data">
                                <time>Nov 16, 2015 11:47 PM</time>
                            </div>
                        </div>
                        <div class="comment-content"><pre>回复 李小贝 :
你可以等到这篇文章到了第二页就好了</pre>
                        </div>
                        <div class="comment-reply"><a href="#comment" data-author-nickname="张小乐"
                                                      data-author="55d989d16d6b2b32c53a3576"
                                                      data-comment-id="56499b2b6ba60a496f7af42f"
                                                      class="comment-reply-link">回复</a></div>
                    </article>
                </li>
            </ol>
        </li>
    </ol>
    <div class="comment-respond"><h3 class="comment-reply-title"><i class="icon-pencil"></i><span> 欢迎留言</span><a
            id="comment-reply-cancel-link" href="#comment" style="display: none;">取消回复</a></h3>
        <form action="/comment/add" method="post" novalidate="novalidate" class="comment-form"><textarea id="comment"
                                                                                                         placeholder="赶快发表你的见解吧！"
                                                                                                         name="comment[content]"
                                                                                                         cols="45"
                                                                                                         rows="8"
                                                                                                         aria-required="true"
                                                                                                         class="valid"></textarea>
            <p class="form-submit">
                <button type="submit">发表评论</button>
                <input type="hidden" name="comment[reply]"><input type="hidden" name="comment[article]"
                                                                  value="5648d3456ba60a496f7af42a">
                <script>$(function () {
                    $('#comment-reply-cancel-link').hide();
                    $('.comment-reply .comment-reply-link').click(function (event) {
                        $('input[name="comment[reply]"]').val($(this).data("comment-id"));
                        $('#comment').focus().val('回复 ' + $(this).data("author-nickname") + ' :\n');
                        $('#comment-reply-cancel-link').show();
                    });

                    $('#comment-reply-cancel-link').click(function () {
                        $('input[name="comment[reply]"]').val("");
                        $('#comment').focus().val('');
                        $(this).hide();
                    });
                })
                </script>
            </p>
        </form>
    </div>
</div>