<div class="comments-warp">
    <h3 class="comments-header alert alert-info"><i class="fa fa-comments"></i><span> 3 条评论</span></h3>
    <ol class="comments-list">
        <comment-list-item *ngFor="#comment of comments" [comment]="comment"></comment-list-item>
    </ol>
    <div class="comment-respond"><h3 class="comment-reply-title"><i class="icon-pencil"></i><span> 欢迎留言</span><a
            id="comment-reply-cancel-link" href="#comment" style="display: none;">取消回复</a></h3>

        <form action="/comment/add" method="post" novalidate="novalidate" class="comment-form"><textarea id="comment"
                                                                                                         placeholder="赶快发表你的见解吧！"
                                                                                                         name="comment[content]"
                                                                                                         cols="45"
                                                                                                         rows="8"
                                                                                                         aria-required="true"
                                                                                                         class="valid"></textarea>

            <p class="form-submit">
                <button type="submit">发表评论</button>
                <input type="hidden" name="comment[reply]"><input type="hidden" name="comment[article]"
                                                                  value="5648d3456ba60a496f7af42a">
                <script>$(function () {
                    $('#comment-reply-cancel-link').hide();
                    $('.comment-reply .comment-reply-link').click(function (event) {
                        $('input[name="comment[reply]"]').val($(this).data("comment-id"));
                        $('#comment').focus().val('回复 ' + $(this).data("author-nickname") + ' :\n');
                        $('#comment-reply-cancel-link').show();
                    });

                    $('#comment-reply-cancel-link').click(function () {
                        $('input[name="comment[reply]"]').val("");
                        $('#comment').focus().val('');
                        $(this).hide();
                    });
                })
                </script>
            </p>
        </form>
    </div>
</div>