<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">
                <i class="fa fa-heart red"></i>
                <span> 乐呵一贝子</span>
                <i class="fa fa-heart red"></i>
            </a>
            <button type="button" data-toggle="collapse" data-target=".bs-navbar-collapse" class="navbar-toggle"><span
                    class="sr-only">Toggle navigation</span><span class="icon-reorder icon-large"></span></button>
        </div>
        <div class="collapse navbar-collapse bs-navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">首页</a></li>
                <li><a href="/article/add">添加内容</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a>欢迎您！</a></li>
                <li><a href="/user/detail/55d989d16d6b2b32c53a3576" class="navbar-link">张小乐</a></li>
                <li><a href="/user/signout" class="navbar-link">注销</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="navbar navbar-default"></div>
