//-
   Created by zl on 2015/8/5.

footer.footer
   .container
      .row
         p!= '本blog系统基于 <a href="https://nodejs.org">Node.js</a>，<a href="http://expressjs.com/">Express</a>，<a href="https://www.mongodb.org/">Mongodb</a> 构建'
         P!= '运行在 <a href="https://openshift.redhat.com/">openshift</a> 上，源代码托管在 <a href="https://github.com/zl810881283/work_space">GitHub</a> '
         p!= '©2015-2015 <a href="mailto:810881283@qq.com">张乐</a> All Rights Reserved'