//-
   Created by zl on 2015/8/5.

link(rel='stylesheet', href="/stylesheets/bootstrap.min.css")
link(rel='stylesheet', href="/stylesheets/font-awesome.min.css")
link(rel='stylesheet', href='/stylesheets/style.css')
link(rel='stylesheet', href='/ueditor/third-party/SyntaxHighlighter/shCoreDefault.css')


script(src="/javascripts/jquery.min.js")
script(src="/javascripts/bootstrap.min.js")
script(src="/javascripts/sign.js")
script(src="/javascripts/custom.js")
script(src="/ueditor/third-party/SyntaxHighlighter/shCore.js")

if needUeditor
   script(type="text/javascript",charset="utf-8",src="/ueditor/ueditor.config.js")
   script(type="text/javascript",charset="utf-8",src="/ueditor/ueditor.all.min.js")
   script(type="text/javascript",charset="utf-8",src="/ueditor/lang/zh-cn/zh-cn.js")

