//
   Created by zl on 2015/8/22.

doctype html
html
   head
      meta(charset="UTF-8")
      title= title
      include ../include/head
   body
      include ../include/header
      block content
      include ../include/footer
