<div class="container footer">
    <div class="row">
        <p>本blog系统基于
            <a href="http://angular.io">Angular2</a>,
            <a href="https://www.mongodb.org/">Mongodb</a>,
            <a href="https://nodejs.org">Node.js</a>,
            <a href="http://thinkjs.org/">ThinkJS</a>
            构建
        </p>
        <p>运行在 <a href="https://openshift.redhat.com/">openshift</a> 上，
            源代码托管在 <a href="https://github.com/zl810881283/work_space">GitHub</a>
        </p>
        <p>©2015-2015 <a href="mailto:810881283@qq.com">张乐</a> All Rights Reserved</p></div>
</div>

